@model Entities.Concrete.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html  lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="~/css/login.css?@(DateTime.Now.Ticks)" rel="stylesheet" />
    <link href="~/lib/toastr/dist/css/toasting.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="box">
            <h4>Kullanıcı Kayıt</h4>
            <form asp-action="CreateUser" asp-controller="Login"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-begin="formBegin"
                  data-ajax-success="formSuccess"
                  data-ajax-failure="formError">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="user">
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" placeholder="Adınız" required autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" required autocomplete="off" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Şifreniz" required autocomplete="off" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Mail Adresiniz" required autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btnSubmit">Kayıt Ol</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Giriş Yap</a>
    </div>
    <script src="~/lib/ajaxForm/jquery-3.5.1.min.js"></script>
    <script src="~/lib/ajaxForm/jquery.validate.min.js"></script>
    <script src="~/lib/ajaxForm/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/ajaxForm/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/dist/js/toasting.js"></script>
    <script src="~/js/site.js?@(DateTime.Now.Ticks)"></script>
</body>

</html>
