
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Sıfırla</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="~/css/login.css?@(DateTime.Now.Ticks)" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form asp-action="ForgotPassword" asp-controller="Login" method="post">
            <div class="box">
                <h2>Şifremi Unuttum</h2>
                <div class="user">
                    <i class="fas fa-user"></i>
                    <input type="text"
                           name="email"
                           id="email"
                           autocomplete="off"
                           placeholder="Mail Adresiniz" />
                   
                </div>
                <div class="login-btn">
                    <button class="btn">Sıfırla</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

