@model Entities.Dtos.UserDtos.ResetPasswordDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Sıfırla</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="~/css/login.css?@(DateTime.Now.Ticks)" rel="stylesheet" />

    <link href="~/lib/toastr/dist/css/toasting.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form asp-action="ResetPassword" asp-controller="Login" method="post"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-begin="formBegin"
              data-ajax-success="formSuccess"
              data-ajax-failure="formError">
            <div class="box">
                <h2>Şifremi Unuttum</h2>
                <div class="user">
                    <i class="fas fa-user"></i>
                    <input type="text"
                           name="Email"
                           id="Email"
                           autocomplete="off"
                           placeholder="Mail Adresiniz" value="@Model.Mail" />
                    <input type="text"
                           name="Code"
                           id="Code"
                           autocomplete="off"
                           placeholder="Sıfırlama Kodu" value="@Model.Code" />
                    <input type="password"
                           name="Password"
                           id="Password"
                           autocomplete="off"
                           placeholder="Şifreniz" />
                    <input type="password"
                           name="PasswordConfirm"
                           id="PasswordConfirm"
                           autocomplete="off"
                           placeholder="Şifre Onay" />

                </div>
                <div class="login-btn">
                    <button class="btn">Sıfırla</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/lib/ajaxForm/jquery-3.5.1.min.js"></script>
    <script src="~/lib/ajaxForm/jquery.validate.min.js"></script>
    <script src="~/lib/ajaxForm/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/ajaxForm/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/dist/js/toasting.js"></script>
    <script src="~/js/site.js?@(DateTime.Now.Ticks)"></script>
</body>
</html>

